---
import IndexLayout from "../layouts/IndexLayout.astro";
const title = "My Dashboard";
const siteIcon = "/myhomepage/images/profil.png";
---

<IndexLayout title={title} , siteIcon={siteIcon}>
	<section class="descriptions mb-10">
		<ul
			class="list-none p-0 m-0 flex flex-col sm:flex-row items-center justify-center sm:space-x-4"
		>
			<li class="mb-5 sm:mb-0 flex items-center">
				<i class="nf nf-fa-codepen mr-2"></i>
				<p class="text-md xl:text-xl sm:text-sm">Welcome page</p>
			</li>
			<li class="mb-5 sm:mb-0 flex items-center">
				<i class="nf nf-fa-coffee mr-2"></i>
				<p class="text-md xl:text-xl sm:text-sm">AI Tools</p>
			</li>
			<li class="mb-5 sm:mb-0 flex items-center">
				<i class="nf nf-fa-rocket mr-2"></i>
				<p class="text-md xl:text-xl sm:text-sm">UI/UX Inspiration</p>
			</li>
			<li class="mb-5 sm:mb-0 flex items-center">
				<i class="nf nf-dev-terminal mr-2"></i>
				<p class="text-md xl:text-xl sm:text-sm">Dev Resources</p>
			</li>
			<li class="mb-5 sm:mb-0 flex items-center">
				<i class="nf nf-dev-github mr-2"></i>
				<p class="text-md xl:text-xl sm:text-sm">Github Repo</p>
			</li>
		</ul>
	</section>
</IndexLayout>
