---
const { pageTitle, pageIcon } = Astro.props;
---

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href={pageIcon} />
    <link
        rel="stylesheet"
        href="https://www.nerdfonts.com/assets/css/webfont.css"
    />
    <title>{pageTitle}</title>
</head>
