---
const basePath = "/myhomepage/";
---

<ul>
  <li id="home-link">
    <a href={basePath} class="active-text block" aria-label="index">
      <i class="nf nf-fa-codepen"></i>
    </a>
  </li>
  <li id="ai-link">
    <a href={basePath + "ai"} class="preload-link" aria-label="ai">
      <i class="nf nf-fa-coffee"></i>
    </a>
  </li>
  <li id="ui_ux-link">
    <a href={basePath + "ui_ux"} class="preload-link" aria-label="uiux">
      <i class="nf nf-fa-rocket"></i>
    </a>
  </li>
  <li id="dev-link">
    <a href={basePath + "dev"} class="preload-link" aria-label="dev">
      <i class="nf nf-dev-terminal"></i>
    </a>
  </li>
  <li class="pr-1">
    <a
      href="https://github.com/AbrarAbe/mydashboard"
      class="preload-link"
      aria-label="source"
    >
      <i class="nf nf-dev-github"></i>
    </a>
  </li>
</ul>

<script define:vars={{ basePath }}>
  function setActiveLink() {
    const currentPath = new URL(window.location.href).pathname;
    const links = {
      "home-link": basePath,
      "ai-link": basePath + "ai",
      "ui_ux-link": basePath + "ui_ux",
      "dev-link": basePath + "dev",
    };

    function normalizePath(path) {
      if (path.endsWith("/") && path.length > 1) {
        return path.slice(0, -1);
      }
      return path;
    }

    const normalizedCurrentPath = normalizePath(currentPath);

    for (const [id, path] of Object.entries(links)) {
      const element = document.getElementById(id);
      const icon = element.querySelector("i");
      const normalizedPath = normalizePath(path);

      console.log(
        `Checking link: ${id}, currentPath: ${normalizedCurrentPath}, path: ${normalizedPath}`
      ); // Debugging

      if (normalizedCurrentPath === normalizedPath) {
        icon.classList.add("active");
        element.classList.add("active-li");
      } else {
        icon.classList.remove("active");
        element.classList.remove("active-li");
      }
    }
  }
  setActiveLink();

  document.addEventListener("astro:page-load", () => {
    setActiveLink();
  });
</script>
