---
const { text } = Astro.props;
---

<div class="mb-5 tracking-wide" style="font-family: primous;">
    <h1 class="text-4xl lg:text-5xl md:text-md sm:text-sm text-center mb-10">
        {text}
    </h1>
</div>
