---
import "../styles/global.css";
import "../styles/menu.css";

import Metadata from "../components/Metadata.astro";
import Loader from "../components/Loader.astro";
import TextAnimation from "../components/TextAnimation.astro";
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
import LocalScripts from "../components/LocalScripts.astro";

const { title, siteIcon } = Astro.props;
---

<html lang="en">
	<Metadata title={title} , siteIcon={siteIcon} />
	<body class="h-svh flex flex-col justify-center items-center">
		<Loader />
		<main id="content">
			<header class="container mx-auto">
				<TextAnimation />
			</header>
			<nav class="my-10 px-5" id="navigation-menu">
				<Navigation />
			</nav>
			<slot />
		</main>
		<Footer />
		<LocalScripts />
	</body>
</html>
