---
import "../styles/global.css";
import "../styles/pages.css";

import Head from "../components/Metadata.astro";
import Loader from "../components/Loader.astro";
import Navigation from "../components/Navigation.astro";
import LocalScripts from "../components/LocalScripts.astro";
import Footer from "../components/Footer.astro";

const { pageTitle, pageIcon } = Astro.props;
---

<html lang="en">
	<Head pagetitle={pageTitle} , pageIcon={pageIcon} />
	<body class="py-10">
		<Loader />
		<main class="grid grid-flow-row auto-rows-max gap-2 mb-5" id="content">
			<nav class="mb-5" id="navigation-menu">
				<Navigation />
			</nav>
			<slot />
		</main>
		<Footer />
		<LocalScripts />
	</body>
</html>
